.maincontainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;

}


.container {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    height: auto;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 1px 8px;
}

.container h3 {
    background-color: bisque;
    text-align: center;
    margin: auto;
    padding: 4px;
    padding-bottom: 7px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.formContainer label {
    margin-left: 32px;
    padding: 5px;
    font-size: 15px;
}

.formContainer input {
    margin: auto;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    border-style: none;
    font-size: 20px;
    width: 80%;
}

.formContainer button {
    background-color: rgb(87, 79, 197);
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 4px;
    padding-bottom: 7px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
}

.login {
    color: rgb(99, 99, 201);
}

.gotologinpage {
    display: flex;
    gap: 5px;
    margin: 10px;
}